body {
  font-family: sans-serif;
}
.button {
  width: 200px;
  height: 50px;
  background-color: gray;
  font-size: 25px;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: lightgrey;
  box-shadow: 5px 5px 5px grey;
}
img {
  margin: 50px;
  width: 200px;
  height: 200px;
  transition: all 1s ease-in-out;
  transform-origin: 50% 50%;
}
img:hover {
  width: 150px;
  height: 150px;
  transform: rotate(135deg);
}
